<form method="post" action="{{ path('wishlist_friend_delete', {'id': wishlist_friend.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ wishlist_friend.id) }}">
    <button class="btn">Delete</button>
</form>
